body {
  font-family: "Comfortaa", cursive;
  max-width: ;
}
input {
  padding: 0px 40px;
  margin-top: 5px;
}
h1,
h3 {
  margin: 5px;
  line-height: 150%;
}
image {
  max-width: 30px;
}
.btn-outline-primary {
  padding: 0px 40px;
  margin-top: 5px;
  color: rgb(102, 27, 240);
}
.container {
  margin: 40px auto;
  border: 1px solid rgb(106, 82, 196);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  display: block;
  max-width: 600px;
}
.card {
  background-color: #cdc2e0;
  text-align: center;
  margin: 10px;
}
.btn {
  padding: 0px 40px;
  margin-top: 5px;
  color: #1b1b19;
  background: #cdc2e0;
  border: 1px solid rgb(106, 82, 196);
}
.github-link {
  opacity: 0.3;
}
