body {
  font-family: "Comfortaa", cursive;
}
input {
  padding: 0px 40px;
  margin-top: 5px;
}
h1,
h3 {
  margin: 5px;
  line-height: 150%;
}

li {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.btn-outline-primary {
  padding: 0px 40px;
  margin-top: 5px;
  color: rgb(102, 27, 240);
}
.container {
  margin: 40px auto;
  border: 1px solid rgb(106, 82, 196);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  display: block;
  max-width: 600px;
}
.card {
  background-color: #cdc2e0;
  text-align: center;
  margin: 10px;
}
.btn {
  padding: 0px 40px;
  margin-top: 5px;
  color: #1b1b19;
  background: #cdc2e0;
  border: 1px solid rgb(106, 82, 196);
}
.github-link {
  opacity: 0.4;
}
.active {
  text-decoration: none;
  color: #1b1b19;
}

.active:hover {
  cursor: default;
  text-decoration: none;
  color: #1b1b19;
}

#forecast h5 {
  text-align: center;
}

#forecast img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

#forecast .weather-forecast-temperature {
  text-align: center;
}
